{% extends "templates/base.html" %}
{% block content %}
<div class="jumbotron" style="text-align:center; background: rgb(243, 243, 243); padding-bottom: 20px; padding-top: 20px;">
    <h2>Zenmaster Yu-Shing</h2>
</div>

<div class="row-fluid">
    <div class="span9">
        <ul class="list-group" style="text-align:center; font-style: oblique; font-weight: bold; font-family: cursive;">
            {% for poem in poems %}
            <li class="list-group-item poem"><p>
                {% for line in poem %}
                    {{line}}<br/>
                {% endfor %}
                </p></li>
            <br/>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
